# 109-2   課程: 大數據資料分析  -  期中考試試題
### 學號:D06220755 
### 姓名:王震越

## <u>Question 1</u> (10%)
#### 1-1: 請利用 `datetime` 套件和 `strftime`函式，列印出現在的日期時間，例如:
```
現在時間是 2020 年 4 月 19 日 18 時 53 分 31 秒
```
#### 1-2: 有一個字串是 str1 = '11-30-2010'，請將此字串轉為日期。

In [18]:
import datetime
now = datetime.datetime.now()
print('現在的時間是:', now.year,'年',now.month,'月',now.day,'日',now.hour,'時',now.minute,'分',now.second,'秒')

現在的時間是: 2020 年 4 月 22 日 10 時 7 分 13 秒

In [37]:
str2 = '11-30-2010' # 日期字串
date = datetime.datetime.strptime(str2, "%m-%d-%Y")

<hr style="border-color:brown; border-width:2px">

## <u>Question 2</u> (10%)
#### 2-1: 請將 'Hello World!' 字串的字元由最後面到最前面字元逐一取出，例如 'Hello World!' 應該呈現的結果是:
```
!dlroW olleH
```
#### 2-2: 如果有一個字串 x 內容是 
```Tainan Universifty of        Technology```
#### 請去除多餘的空格，將 x 字串轉換為正常的 'Tainan Universifty of Technology' 。

In [24]:
str1 = 'Hello World!'
length = len(str1) - 1
str1[length]
for w in range(length, -1, -1):
    print(str1[w], end='')

!dlroW olleH

In [39]:
import re
x = ' Tainan Universifty of    Technology'
x = x.strip()
x = re.sub(' +', ' ', x)
x

'Tainan Universifty of Technology'

<hr style="border-color:brown; border-width:2px">

## <u>Question 3</u> (10%)
#### 3.1: 利用 Python 產生 26 個英文單字給 letters 變數。
#### 3.2: 請從 letters 隨機取出 12 個英文字母

In [40]:
letters = ''
for w in range(ord('a'), ord('z')+1):
    letters = letters + chr(w)
print(letters)

abcdefghijklmnopqrstuvwxyz

In [41]:
import random
random.sample(letters, 12)

['u', 'l', 'q', 'z', 'g', 'o', 'e', 'b', 'n', 'x', 'd', 'y']

<hr style="border-color:brown; border-width:2px">

## <u>Question 4</u> (10%)
#### 4-1: 請使用 range() 函式產生從 0 到 100 間隔 10 的數字順序(例如 0, 10, 20, ... 100)，命名為 x，並用print()顯示元素內容如下:
```
0 10 20 30 40 50 60 70 80 90 100 
```
#### 4-2: 請把x 改為``` ['$0', '$10', '$20','$30','$40','$50',$60',$70',$80',$90',$100',]```

In [4]:
x=[]
list1 = range(0,110,10)
for i in list1:
    x.append(str(i))    
x

['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

In [5]:
x=[]
for i in list1:
    x.append('$'+str(i))
x

['$0', '$10', '$20', '$30', '$40', '$50', '$60', '$70', '$80', '$90', '$100']

<hr style="border-color:brown; border-width:2px">

## <u>Question 5</u> (10%)
$$$$ 5-1: 請從 1 到 50 隨機選出 10 個數字的串列 num (可利用 range() 和 sample())，再請將 10 數字的偶數存放到 even_num，奇數存到 odd_num，再分別列印出 even_num 與 odd_num。

In [60]:
import random
Q5=[]
even_num=[]
odd_num=[]
for i in range(10):
    w=random.randint(1,50)
    Q5.append(w)
    if w%2==0:
        even_num.append(w)
    else:
        odd_num.append(w)

print('奇數有:',odd_num)
print('偶數有:',even_num)

奇數有: [27, 9, 35, 21, 37]
偶數有: [6, 10, 42, 8, 40]

<hr style="border-color:brown; border-width:2px">

## <u>Question 6</u> (20%)
#### 6-1.請使用 pandas 正確讀取 'http://bit.ly/movieusers' 網址資料集，並顯示前 5 筆資料。
#### 6-2.請使用 pandas 正確讀取 'gapminder.xlsx' 資料集 (請下載後置於 'C:\' 目錄)，並顯示前 5 筆資料。

In [61]:
import numpy as np
import pandas as pd
Q6Table = pd.read_table('http://bit.ly/chiporders')
Q6Table.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [62]:
import pandas as pd
Q6Table2 = pd.read_excel('gapminder.xlsx')
Q6Table2.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

<hr style="border-color:brown; border-width:2px">

## <u>Question 7</u> (20%)
#### 請讀取鐵達尼號的資料集
#### 7-1: 請計算出各艙等乘客人數各是多少人、存活人數，以及存活率。
#### 7-2: 請計算出不同出發港口的上船人數各是多少人，存活人數，以及存活率。

In [80]:
import numpy as np
import pandas as pd
titanic=pd.read_csv('http://bit.ly/kaggletrain')
G=len(titanic[titanic.Pclass == 1])
N=len(titanic[titanic.Pclass == 2])
B=len(titanic[titanic.Pclass == 3])
print('最好的 1 等艙共有:', G ,'個人;','尚可的 2 等艙共有:', N ,'個人;','較差的 3 等艙共有:', B ,'個人;')
G1=len(titanic.loc[(titanic.Pclass == 1)&(titanic.Survived == 1)])
N1=len(titanic.loc[(titanic.Pclass == 2)&(titanic.Survived == 1)])
B1=len(titanic.loc[(titanic.Pclass == 3)&(titanic.Survived == 1)])
print('最好的 1 等艙共有:', G1 ,'個人存活;','尚可的 2 等艙共有:', N1 ,'個人存活;','較差的 3 等艙共有:', B1 ,'個人存活;')
Gpercent=G1/G
Npercent=N1/N
Bpercent=B1/B
Gpercent='%.2f' % Gpercent
Npercent='%.2f' % Npercent
Bpercent='%.2f' % Bpercent
print('最好的 1 等艙存活率為:', Gpercent,'尚可的 2 等艙存活率為:', Npercent,'較差的 3 等艙存活率為:', Bpercent)

最好的 1 等艙共有: 216 個人; 尚可的 2 等艙共有: 184 個人; 較差的 3 等艙共有: 491 個人;
最好的 1 等艙共有: 136 個人存活; 尚可的 2 等艙共有: 87 個人存活; 較差的 3 等艙共有: 119 個人存活;
最好的 1 等艙存活率為: 0.63 尚可的 2 等艙存活率為: 0.47 較差的 3 等艙存活率為: 0.24

In [156]:
#titanic['Embarked'].unique()#'S', 'C', 'Q', nan
STotal=len(titanic[titanic.Embarked == 'S'])
CTotal=len(titanic[titanic.Embarked == 'C'])
QTotal=len(titanic[titanic.Embarked == 'Q'])
nanTotal=891-STotal-CTotal-QTotal
print('從S港出發的總數為:',STotal,'從C港出發的總數為:',CTotal,'從Q港出發的總數為:',QTotal,'從不明的港出發的總數為:',nanTotal)
Ssurvived=len(titanic.loc[(titanic.Embarked == 'S')&(titanic.Survived == 1)])
Csurvived=len(titanic.loc[(titanic.Embarked == 'C')&(titanic.Survived == 1)])
Qsurvived=len(titanic.loc[(titanic.Embarked == 'Q')&(titanic.Survived == 1)])
print('從S港出發的總存活數為:',Ssurvived,'從C港出發的總存活數為:',Csurvived,'從Q港出發的總存活數為:',Qsurvived)

Spercent=Ssurvived/STotal
Cpercent=Csurvived/CTotal
Qpercent=Qsurvived/QTotal

Spercent='%.2f' % Spercent
Cpercent='%.2f' % Cpercent
Qpercent='%.2f' % Qpercent
print('從S港出發的存活率為:',Spercent,'從C港出發的存活率為:',Cpercent,'從Q港出發的存活率為:',Qpercent)

從S港出發的總數為: 644 從C港出發的總數為: 168 從Q港出發的總數為: 77 從不明的港出發的總數為: 2
從S港出發的總存活數為: 217 從C港出發的總存活數為: 93 從Q港出發的總存活數為: 30
從S港出發的存活率為: 0.34 從C港出發的存活率為: 0.55 從Q港出發的存活率為: 0.39

<hr style="border-color:brown; border-width:2px">

## <u>Question 8</u> (20%)
#### 請讀取 'http://stats.moe.gov.tw/files/detail/107/107_student.csv' 網站的 CSV 檔案
#### 8-1: 並請計算出每個學校日間部大學部的學生是多少人?
#### 8-2: 請計算出各校的女生/男生的比例。

In [248]:
#step1
import numpy as np
import pandas as pd
Q8Table=pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_student.csv')
Q8TableM=Q8TableM.rename(columns={'日間∕進修別':'日間進修別'})
def ChangeDataToInt(target):
    for i in range(812):
        if Q8TableM[target][i] != '-':
            Q8TableM[target][i]=int(Q8TableM[target][i]) 
ChangeDataToInt('一年級男生')
ChangeDataToInt('一年級女生')
ChangeDataToInt('二年級男生')
ChangeDataToInt('二年級女生')
ChangeDataToInt('三年級男生')
ChangeDataToInt('三年級女生')
ChangeDataToInt('四年級男生')
ChangeDataToInt('四年級女生')
ChangeDataToInt('五年級男生')
ChangeDataToInt('五年級女生')
ChangeDataToInt('六年級男生')
ChangeDataToInt('六年級女生')
ChangeDataToInt('七年級男生')
ChangeDataToInt('七年級女生')
ChangeDataToInt('延修生男生')
ChangeDataToInt('延修生女生')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [249]:
#step2
def StudentSum(Q8TableTest,rows):
    TotalStudents=0
    
    if Q8TableTest['一年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['一年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['一年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['一年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['二年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['二年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['二年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['二年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['三年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['三年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['三年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['三年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['四年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['四年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['四年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['四年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['五年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['五年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['五年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['五年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['六年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['六年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['六年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['六年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['七年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['七年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['七年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['七年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['延修生男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['延修生男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    if Q8TableTest['延修生女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['延修生女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    return TotalStudents

In [250]:
#step3
TotalStudents=[]
Q8TableSchoolNames=Q8Table['學校名稱'].unique()

for Uni in Q8TableSchoolNames:
    Anw=0
    Q8TableTest1=Q8TableM.loc[(Q8TableM.學校名稱 == Uni) & (Q8TableM.日間進修別=='D 日') & (Q8TableM.等級別 =='B 學士')]
    Q8TableTest2=Q8TableM.loc[(Q8TableM.學校名稱 == Uni) & (Q8TableM.日間進修別=='D 日') & (Q8TableM.等級別 =='B 四技')]
    if Q8TableTest1.empty==False:
        Anw=StudentSum(Q8TableTest1,0)
        TotalStudents.append(Anw)
    if Q8TableTest2.empty==False:
        Anw=StudentSum(Q8TableTest2,0)
        TotalStudents.append(Anw)
    if Q8TableTest1.empty and Q8TableTest2.empty :
        TotalStudents.append(0)
        
print('共有',len(TotalStudents),'筆資料')
print('前十筆資料為:',TotalStudents[:10])

共有 153 筆資料
前十筆資料為: [9630, 8689, 16604, 8079, 11390, 8090, 5398, 6057, 4726, 5769]

In [251]:
#step4 End Q8-1
X={'學校名稱':Q8TableSchoolNames, '日間部的四技與大學部總在學人數':TotalStudents}
df = pd.DataFrame(X,columns=['學校名稱', '日間部的四技與大學部總在學人數'])
df.head(10)

       學校名稱  日間部的四技與大學部總在學人數
0    國立政治大學             9630
1    國立清華大學             8689
2    國立臺灣大學            16604
3  國立臺灣師範大學             8079
4    國立成功大學            11390
5    國立中興大學             8090
6    國立交通大學             5398
7    國立中央大學             6057
8    國立中山大學             4726
9  國立臺灣海洋大學             5769

In [247]:
#Test 1
def Test1(Q8TableTest,rows):
    x=0
    x=x+Q8TableTest['一年級男生'].iloc[rows]
    return x

Uni='臺北市立大學'
Q8TableTest1=Q8TableM.loc[(Q8TableM.學校名稱 == Uni) & (Q8TableM.日間進修別=='D 日') & (Q8TableM.等級別 =='B 學士')]
Q8TableTest2=Q8TableM.loc[(Q8TableM.學校名稱 == Uni) & (Q8TableM.日間進修別=='D 日') & (Q8TableM.等級別 =='B 四技')]
if Q8TableTest1.empty==False:
    SumStudents=Test1(Q8TableTest1,0)
    print('一般大學')
    print(SumStudents)
if Q8TableTest2.empty==False:
    SumStudents=Test1(Q8TableTest2)
    print('科技大學')
    print(SumStudents)
if Q8TableTest1.empty and Q8TableTest2.empty :
    print(0)

一般大學
566

In [194]:
#Test1 ShowTable
Uni='臺北市立大學'
Q8TableM.loc[(Q8TableM.學校名稱 == Uni)]

,學校代碼,學校名稱,日間進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
808,3002,臺北市立大學,D 日,D 博士,14,20,16,14,17,18,...,13,22,9,12,22,38,-,-,30 臺北市,1 一般
809,3002,臺北市立大學,D 日,M 碩士,124,252,112,228,82,134,...,10,39,12,34,-,-,-,-,30 臺北市,1 一般
810,3002,臺北市立大學,D 日,B 學士,566,725,524,682,583,692,...,-,-,-,-,-,-,165,139,30 臺北市,1 一般
811,3002,臺北市立大學,N 職,M 碩士,98,271,87,237,44,119,...,19,23,14,28,-,-,-,-,30 臺北市,1 一般

In [258]:
#step1

#男性總數
def StudentSumM(Q8TableTest,rows):
    TotalStudents=0
    
    if Q8TableTest['一年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['一年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['二年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['二年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
   
    if Q8TableTest['三年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['三年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
   
    if Q8TableTest['四年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['四年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['五年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['五年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
   
    if Q8TableTest['六年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['六年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
   
    if Q8TableTest['七年級男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['七年級男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['延修生男生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['延修生男生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    
    return TotalStudents

#女性總數
def StudentSumF(Q8TableTest,rows):
    TotalStudents=0
    
    if Q8TableTest['一年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['一年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
        
    if Q8TableTest['二年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['二年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['三年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['三年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['四年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['四年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
        
    if Q8TableTest['五年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['五年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['六年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['六年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
    
    if Q8TableTest['七年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['七年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
        
    if Q8TableTest['延修生女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['延修生女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
        
    return TotalStudents

In [274]:
#step2
TotalMStudents=[]
TotalFStudents=[]
TotalStudentsMAndFRatio=[]
Q8TableSchoolNames=Q8Table['學校名稱'].unique()

for Uni in Q8TableSchoolNames:
    SumM=0
    SumF=0
    Ratio=0
    Q8TableTotal=Q8TableM.loc[(Q8TableM.學校名稱 == Uni)]
    for G in range(len(Q8TableTotal)):
        SumM=SumM+StudentSumM(Q8TableTotal,G)
        SumF=SumF+StudentSumF(Q8TableTotal,G)
    
    Ratio=SumF/SumM
    Ratio='%.2f' % Ratio
    
    TotalMStudents.append(SumM)
    TotalFStudents.append(SumF)
    TotalStudentsMAndFRatio.append(Ratio)
    
#檢視是否有錯誤
print(len(Q8TableSchoolNames))
print(len(TotalMStudents))
print(len(TotalFStudents))
print(len(TotalStudentsMAndFRatio))

153
153
153
153

In [275]:
#step3 End Q8-2
X={'學校名稱' : Q8TableSchoolNames , '學校的男生總數' : TotalMStudents ,'學校的女生總數' : TotalFStudents,'學校的女生/男生比例' : TotalStudentsMAndFRatio}
df = pd.DataFrame(X,columns=[ '學校名稱', '學校的男生總數' , '學校的女生總數' , '學校的女生/男生比例' ])
df.head(10)

       學校名稱  學校的男生總數  學校的女生總數 學校的女生/男生比例
0    國立政治大學     7284     9059       1.24
1    國立清華大學     9558     7099       0.74
2    國立臺灣大學    18934    12811       0.68
3  國立臺灣師範大學     6578     9004       1.37
4    國立成功大學    13481     7795       0.58
5    國立中興大學     8801     6083       0.69
6    國立交通大學     9987     4284       0.43
7    國立中央大學     7867     4093       0.52
8    國立中山大學     5851     3574       0.61
9  國立臺灣海洋大學     5868     2787       0.47

In [272]:
#Test 2
#如果沒有紀錄要補 0
def Test(Q8TableTest,rows):
    TotalStudents=0
    if Q8TableTest['一年級女生'].iloc[rows] != '-':
        TotalStudents=TotalStudents+Q8TableTest['一年級女生'].iloc[rows]
    else :
        TotalStudents=TotalStudents+0
        
    return TotalStudents

Uni='臺北市立大學'
TableSum=0
TableSums=[]
Q8TableTotal=Q8TableM.loc[(Q8TableM.學校名稱 == Uni)]
#校內的男性總數
for G in range(len(Q8TableTotal)):
    TableSum=TableSum+StudentSumM(Q8TableTotal,G)

TableSums.append(TableSum)
print(TableSums)

[3151]

<hr style="border-color:brown; border-width:2px">